.DS_Store
.dart_tool/
.idea
*.iml

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties
android/app/src/main/java/io/flutter/plugins/Generated*

packages
pubspec.lock
.flutter-plugins
doc/api/