.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# left out of source control on library packages
pubspec.lock

# locally-instantiated
.flutter-plugins
android/local.properties
