.DS_Store
.dart_tool/
.idea/

*.iml
*.log
*.pyc
*.swp

.buildlog/
.history
.vscode/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties
android/app/src/main/java/io/flutter/plugins/Generated*

packages
pubspec.lock

**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/

**/ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
**/ios/Flutter/flutter_export_environment.sh
